@model ErrorViewModel
@{
    ViewData["Title"] = "Page not found";
    Layout = "_LayoutFull";
}

<div class="mb-5" style="margin: 0 auto;">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-danger">The page you tried to access does not exist. Please <a href="javascript:history.back()">Go Back</a>.</h3>
        </div>
    </div>
</div>