@using Lexvor.Controllers
@model Lexvor.Models.HomeViewModels.LoggedInPageViewModel
@{
    ViewData["Title"] = "Line Activation";
    Layout = "_Layout";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-md-3 hidden-sm-down">
            @{ await Html.RenderPartialAsync("_ProfileCardPartial", Model.Profile); }

            <div class="card visible-md-block visible-lg-block mb-4 card-link-list">
                @{ await Html.RenderPartialAsync("_FooterPartial"); }
            </div>
        </div>
        <div class="col-md-9">
            <div class="alert alert-info">
                Line Activation
            </div>
            <div id="header-alerts"></div>

            <div class="list-group media-list media-list-stream mb-4 pagination">
                <div class="media list-group-item p-4">
                    <div class="row full-width">
                        <div class="col-md-12">
                            <div class="text-center">
                                <p>WHAT'S MY SERVICE?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>